# TP classification des mails ham / spam

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.model_selection import train_test_split
from sklearn import svm , datasets
from sklearn.model_selection import GridSearchCV 
from sklearn.linear_model import LogisticRegression

# 1 chargement et visualisation des données

In [2]:
mail = pd.read_csv("spam_ham_dataset.csv")
mail.head(8)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
5,2949,ham,Subject: ehronline web address change\r\nthis ...,0
6,2793,ham,Subject: spring savings certificate - take 30 ...,0
7,4185,spam,Subject: looking for medication ? we ` re the ...,1

# 2 Nettoyez les données

In [3]:
mail.isna().sum() ## verifier s'il n'y a pas de données manquantes   il n'y a donc pas de valeurs manquantes par colonnes

Unnamed: 0    0
label         0
text          0
label_num     0
dtype: int64

In [4]:
## Suppression de la colonne 
mail.drop('Unnamed: 0', axis = 1 , inplace = True)
mail.head()

  label                                               text  label_num
0   ham  Subject: enron methanol ; meter # : 988291\r\n...          0
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3  spam  Subject: photoshop , windows , office . cheap ...          1
4   ham  Subject: re : indian springs\r\nthis deal is t...          0

  # 3 Pretraitement

In [5]:
vectorizer = CountVectorizer(stop_words = 'english' , analyzer = 'word')
vectorizer

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words='english',
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [6]:

X= mail.loc[: , 'text']
Y= mail.loc[: , 'label_num']

In [7]:
X_train , X_test , Y_train , Y_test =train_test_split(X,Y,random_state =20 ,test_size = 0.2) 
vectorizer.fit(X_train)
#print(len(vectorizer.get_feature_names()))
X_train2 = vectorizer.transform(X_train)
X_train2 = X_train2.toarray()
X_train2[:4]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [2, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

# Model

In [11]:
## le grisearchCV 
params = {'C':[1,2,3] , 'penalty' : ['l2'] , 'solver': ['liblinear', 'lbfgs' ]}
lr = LogisticRegression()
clf = GridSearchCV(lr , params , cv = 4)
clf.fit(X_train2 , Y_train)

GridSearchCV(cv=4, error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'C': [1, 2, 3], 'penalty': ['l2'], 'solver': ['liblinear', 'lbfgs']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [ ]:
#pour le deploiement :  ecrire une fonction qui